@model WebApplication2.Models.Dapartment
@{
    ViewBag.Title = "Add";
}
<div class="row">
    <div class="col-md-6">
        <h2>Dapartment Add</h2>
    </div>
    </div>
    @using (Html.BeginForm("SeveData", "Dapartment", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", })
            </div>
        </div>
        <div style="margin-left:700px">
            <button type="submit" class="btn btn-outline-info">Save Data</button>      <a href="/Dapartment/Index" class="btn btn-outline-danger">Go Back </a>
        </div>
    }
