@model WebApplication2.Models.Dapartment
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-6">
        <h2>Dapartment Edit</h2>
    </div>
</div>
@using (Html.BeginForm("UpdateData", "Dapartment", FormMethod.Post))
{
    <div class="row">
        @Html.HiddenFor(x => x.DapartmentId)
        <div class="col-md-6">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", })
        </div>
    </div>
    <br />
    <div style="margin-left:700px">
        <button type="submit" class="btn btn-outline-info">Save Data</button>      <a href="/Dapartment/Index" class="btn btn-outline-danger">Go Back </a>
    </div>
}
